@page
@model IndexModel
@{
    ViewData["Title"] = "Startsidan";
}

<h1>@ViewData["Title"]</h1>
<p>Detta är startsidan för uppgiften!</p>
<p>Sidan är skapad i Visual Studio Community 2022 med .NET Asp Core och använder Razor pages.</p>

