@page
@model Moment1.Pages.Om_sidanModel
@{
    ViewData["Title"] = "Om sidan";
}
<h1>@ViewData["Title"]</h1>

<p>Hej!</p>

<p>Jag heter Joacim Bäcklund, är 31 och bor i Sundsvall. Jag läser webbutveckling via MIUN just nu och det är bara en termin kvar!</p>
<p>Nu har vi fått lära oss så mycket på utbildningen att det blir svårt att lista allt här men exempelvis:</p>
<ul>
    <li>HTML och CSS</li>
    <li>Javascript</li>
    <li>C# och .NET</li>
    <li>Fullstackutveckling</li>
    <li>Webb API:er</li>
    <li>Ramverk</li>
</ul>
<p>Och mycket mer! Det var allt, ha det köng!</p>
