@page
@model Moment1.Pages.RazorModel
@{
    ViewData["Title"] = "Razor";

    //Deklarera dagens datum
    var date = DateTime.Now;

    //Deklarerar vilken veckodag det är idag
    DayOfWeek today = DateTime.Now.DayOfWeek;

    //Tom sträng
    var monday = "";

    //Kontroll om veckodagen är måndag idag eller inte och lagrar textsträng
    if (today == DayOfWeek.Monday)
    {
        monday = "måndag!";
    } else
    {
        monday = "inte måndag!";
    }

    //Array för kurser
    string[] courses = { "DT057G, Webbutveckling I", "DT068G, Webbanvändbarhet", "DT071G, Programmering i C# .NET", "DT084G, Introduktion till Javascript", 
    "DT093G, Webbutveckling II", "DT162G, Javascriptbaserad webbutveckling", "DT163G, Digital bildbehandling för webb", "DT173G, Webbutveckling III",
    "DT193G, Fullstack-utveckling med ramverk", "DT197G, Webbdesign för CMS", "IK060G, Projektledning"};
}

<h1>@ViewData["Title"]</h1>
<b>Information</b>
<p><b>Datum/klockslag:</b> @date</p>
<p>Idag är det @monday</p>
<b>Kurser jag läst:</b>

<ul>
    @foreach (var course in courses) {
        <li>@course</li>
    }
</ul>
