<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DT191G Moment 1.1</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="logo">
            <h1>Moment 1.1</h1>
        </div>

        <div class="date">
            <p>Dagens datum är <b id="datetext"></b></p>
        </div>
    </header>

    <div class="container">
        <div class="sidenav">
            <nav>      
                <a class="nav-link" asp-area="" asp-page="/Index">Startsidan</a>
                <a class="nav-link" asp-area="" asp-page="/Razor">Razor</a>  
                <a class="nav-link" asp-area="" asp-page="/Om_sidan">Om sidan</a>
            </nav>
        </div>

        <div class="main">
            @RenderBody() 
        </div> 
    </div>

    <footer>
        <p>Av Joacim Bäcklund - Kontakta mig via e-post: <a class="email" href="mailto:joba1905@student.miun.se">joba1905@student.miun.se</a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>